<h1>Contact</h1>



<ul>
  <% @members.each do |member| %>
    <li>
      <%= member.capitalize %>
    </li>
  <% end %>
</ul>

<br>
<form action="/contact" method="get">
  <input type="text" name="member" placeholder="Who are you looking for?">
  <input type="submit">
</form>


<br>
<hr>
<%= link_to "home", root_path %>
